<link rel="stylesheet" href="/css/style.css">

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block" style="color: orange">Add Product</h2>

                        <form action="/products/add" method="post" id="form">
                            <div class="col-12">
                                <div class="form-group mb-3 col-sm-12">
                                    <label for="name">Product Name</label>
                                    <input
                                            id="name"
                                            name="name"
                                            type="text"
                                            value="Input here"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3 col-sm-12">
                                    <label for="description">Description</label>
                                    <textarea
                                            class="form-control validate tm-small"
                                            name="description"
                                            rows="5"
                                            required
                                    >Input here</textarea>
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="name">Price</label>
                                    <input
                                            id="price"
                                            name="price"
                                            type="text"
                                            value="Input here"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="category">Type</label>
                                    <select class="custom-select tm-select-accounts" id="type" name="type" onchange="form.form.submit()">
                                        {{#each category}}
                                            <option value="{{this.type}}">{{this.type}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group mb-3 col-sm-6">
                                    <label for="stock">Units In Stock</label>
                                    <input
                                            id="stock"
                                            name="stock"
                                            type="text"
                                            value="Input here"
                                            class="form-control validate"
                                    />
                                </div>
                                <div class="form-group mb-3">
                                    <label for="stock">Image </label>
                                        <input
                                                name="image"
                                                type="text"
                                                value="Input here"
                                                class="form-control validate space"
                                        >
                                </div>
                            </div>
                            <div class="col-12 align-content-center">
                                <button type="submit" class="btn btn-primary col-4">CREATE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
