<div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title mb-3">Profile Information</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-12">
                <div class="white-box">
                    <div class="user-bg">
                        <div class="overlay-box">
                            <div class="user-content">
                                <h1 class="text-white mt-2">{{admin.username}}</h1>
                                <h4 class="text-white mt-2">{{admin.email}}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="user-btm-box mt-5 d-md-flex">
                        <div class="col-md-5 col-sm-5 text-center">
                            <h1>Pixie</h1>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center">
                            <h1>Store</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form class="form-horizontal form-material" method="post" action="/account/{{admin._id}}/change-password">

                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Old Password</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="password" name="old-password" value="" class="form-control p-0 border-0">
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">New Password</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="password" name="new-password" value="" class="form-control p-0 border-0">
                                </div>
                            </div>

                            <div class="form-group mb-4">
                                <label class="col-md-12 p-0">Repeat New Password</label>
                                <div class="col-md-12 border-bottom p-0">
                                    <input type="password" name="repeat-new-password" value="" class="form-control p-0 border-0">
                                </div>
                            </div>

                            <div class="mb-3" style=" text-align: center;">
                                <button type="submit" class="btn btn-warning col-5">Change password</button>
                            </div>

                        </form>

                        <div class="mt-4" style="text-align: center;">
                            {{#if updateSuccess}}
                                <h3 style="text-align: center; color: limegreen">Update password successfully!</h3>
                            {{/if}}
                            {{#if updateFail}}
                                <h3 style="text-align: center; color: red">Old password wrong or 2 new password dont match!</h3>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column -->
        </div>
    </div>

    <footer class="footer text-center"> 2021 © <a
            href="https://www.wrappixel.com/">Pixie Store Admin</a>
    </footer>
</div>